
{% extends 'base.html' %}
{% load static %}
{% block title %} Planner {% endblock %}

{% block content %}
	<br>
	<h1 style="color:black; font-size:45px;"> Welcome {{ user.username }} !!! </h1>
	<br>
		<a href="{% url 'add_todo' %}">
			<img alt="Todo List" src = "{% static 'images/todo.jpg' %}" width=47%>
		</a>
		<a href="{% url 'check_weather' %}">
			<img alt="Check Weather" src = "{% static 'images/Weather.png' %}" width=47%>
		</a><br><br>
		<label style="color:black;font-size:30px;">
			Kindly give your feedback:  
			<a href="https://forms.gle/GBzhoSdkSeENbUHc9" style="font-size:30px;" > Feedback Form </a>
		</label>
{% endblock %}
